- content_for :navbar_items do
  %li.nav-item
    .nav-link= link_to t('groups.explore'), groups_path, class: 'btn btn-light'
  %li.nav-item
    .nav-link= link_to t('groups.new'), new_group_path, class: 'btn btn-light'

.container
  %h1.mt-5= t('memberships.index')
.container
  .row
    - @memberships.each do |ms|
      .col-sm-6.col-lg-4
        .card.mt-3
          .card-body
            %h5.card-title= ms.group.name
            .card-text.mb-3= ms.group.description
            = link_to t('show'), membership_path(ms), class: 'card-link'
.container.pagination.justify-content-center.mt-3
  = paginate @memberships
