= form_with model: task, local: true do |form|
  - if task.errors.any?
    %h2= t('tasks.error_number', count: task.errors.count)
    %ul
      - task.errors.full_messages.each do |message|
        %li= message
  .field
    = form.label :name
    .control= form.text_field :name
  .field
    = form.label :description
    .control= form.text_area :description
  .field
    = form.label :deadline
    .control= form.datetime_field :deadline

  = task.event_select

  .field
    .control
      = form.submit t('create')
