= form_with model: task, local: true do |form|
  - if task.errors.any?
    %h2 #{pluralize(task.errors.count, 'error')} prohibited this task from being saved:
    %ul
      - task.errors.full_messages.each do |message|
        %li= message
  .field
    = form.label :name
    .control= form.text_field :name
  .field
    = form.label :description
    .control= form.text_area :description
  .field
    .control
      = form.submit t('create')
