= form_with model: task, local: true do |form|
  - if task.errors.any?
    %h2= t('tasks.error_number', count: task.errors.count)
    %ul
      - task.errors.full_messages.each do |message|
        %li= message
  .form-group.row
    = form.label :name, class: 'col-sm-3 col-form-label'
    .col-sm-8
      = form.text_field :name, class: 'form-control'
  .form-group.row
    = form.label :deadline, class: 'col-sm-3 col-form-label'
    .col-sm-8
      = form.datetime_field :deadline, class: 'form-control', placeholder: 'yyyy-mm-dd'
  .form-group.row
    = form.label :description, class: 'col-sm-3 col-form-label'
    .col-sm-8
      = form.text_area :description, class: 'form-control', placeholder: t('tasks.placeholder.description')
  .form-group.row
    = form.label :priority, class: 'col-sm-3 col-form-label'
    .col-sm-8.col-form-label
      = form.select :priority, task.priority_options_for_select, class: 'custom-select'

  = task.event_select
  = form.hidden_field :user_id

  .form-group.row
    .col-sm-3= t('labels.categorize')
    .col-sm-9
      .row
        = form.collection_check_boxes :label_ids, labels, :id, :name, class: 'checkbox-inline col-sm-4'

  .row.form-group
  - if action_name == 'new'
    .col-sm-3= t('labels.new')
    - task.labels.each do |label|
      = form.fields_for :labels, label do |lf|
        .form-group.row
          .col-sm-3= lf.label :name, class: 'col-sm-3 col-form-label'
          .col-sm-9= lf.text_field :name, class: 'form-control'
        .form-group.row
          .col-sm-3.col-form-label= lf.label :description, class: 'col-sm-3 col-form-label'
          .col-sm-9= lf.text_field :description, class: 'form-control'
        .form-group.row
          .col-sm-3.col-form-label= lf.label :color, class: 'col-sm-3 col-form-label'
          .col-sm-9= lf.select :color, LabelDecorator.color_options_for_select
  .form-group.row
    = form.label :attachments, class: 'col-sm-3 col-form-label'
    .col-sm-8.col-form-label
      = form.file_field :attachments, multiple: true, direct_upload: false, class: 'custom-select'
  .form-group.row
    .col-sm-12
      = form.submit t('create'), class: 'btn btn-primary btn-block'
