- if task.errors.any?
  %ul
    - task.errors.full_messages.each do |message|
      %li= message
= form_with model: task, local: true do |form|
  .form-group.row
    .col-sm-3= form.label :name, class: 'col-form-label'
    .col-sm-9= form.text_field :name, class: 'form-control'
  .form-group.row
    .col-sm-3= form.label :deadline, class: 'col-form-label'
    .col-sm-9= form.datetime_field :deadline, class: 'form-control', placeholder: 'yyyy-mm-dd'
  .form-group.row
    .col-sm-3= form.label :description, class: 'col-form-label'
    .col-sm-9= form.text_area :description, class: 'form-control', placeholder: t('tasks.placeholder.description')
  .form-group.row
    .col-sm-3= form.label :priority, class: 'col-form-label'
    .col-sm-9.col-form-label= form.select :priority, task.priority_options_for_select, class: 'custom-select'

  = task.event_select
  = form.hidden_field :user_id

  .form-group.row
    .col-sm-3= t('labels.categorize')
    .col-sm-9
      .row
        .col= form.collection_check_boxes :label_ids, labels, :id, :name, class: 'checkbox-inline'

  .form-group
  - if action_name == 'new'
    .row
      %h5.col-sm-3= t('labels.new')
    - task.labels.each do |label|
      = form.fields_for :labels, label do |lf|
        .form-group.row
          .col-sm-3= lf.label :name, class: 'col-form-label'
          .col-sm-9= lf.text_field :name, class: 'form-control'
        .form-group.row
          .col-sm-3= lf.label :description, class: 'col-form-label'
          .col-sm-9= lf.text_field :description, class: 'form-control'
        .form-group.row
          .col-sm-3= lf.label :color, class: 'col-form-label'
          .col-sm-9= lf.select :color, LabelDecorator.color_options_for_select
  .form-group.row
    .col-sm-3= form.label :attachments, class: 'col-form-label'
    .col-sm-9.col-form-label
      = form.file_field :attachments, multiple: true, direct_upload: true, class: 'custom-select'
  .form-group.row
    .col-sm-3
    .col-sm-9= form.submit t('create'), class: 'btn btn-primary btn-block'
