= form_with model: task, local: true do |form|
  - if task.errors.any?
    %h2= t('tasks.error_number', count: task.errors.count)
    %ul
      - task.errors.full_messages.each do |message|
        %li= message
  .form-group.row
    = form.label :name, class: 'col-sm-2 col-form-label', placeholder: t('tasks.placeholder.name')
    .col-sm-9
      = form.text_field :name, class: 'form-control'
  .form-group.row
    = form.label :deadline, class: 'col-sm-2 col-form-label'
    .col-sm-9
      = form.datetime_field :deadline, class: 'form-control', placeholder: 'yyyy-mm-dd'
  .form-group.row
    = form.label :description, class: 'col-sm-2 col-form-label'
    .col-sm-9
      = form.text_area :description, class: 'form-control', placeholder: t('tasks.placeholder.description')
  .form-group.row
    = form.label :priority, class: 'col-sm-2 col-form-label'
    .col-sm-9.col-sm-2.col-form-label
      = form.select :priority, task.priority_options_for_select, class: 'custom-select'

  = task.event_select
  .form-group.row
    .col-sm-12
      = form.submit t('create'), class: 'btn btn-primary'
