%h1= t('tasks.index')

= form_tag tasks_path, method: :get do
  = label_tag :order_by, t('tasks.order')
  = select_tag :order_by, options_for_select([[t('tasks.registration_date'), 'create_at'], [t('tasks.deadline'), 'deadline'], [t('tasks.priority'), 'priority']], selected: 'create_at')
  = submit_tag t('tasks.sort')

= search_form_for(@q, url: tasks_path) do |f|
  = f.label :name_cont, '名前'
  = f.search_field :name_cont
  = f.label :status_eq, '状態'
  = f.collection_check_boxes :status_eq_any, @states, :name, :human_name, include_blank: '指定なし'
  = f.submit

%table
  %thead
    %tr
      %th= t('activerecord.attributes.task.created_at')
      %th= t('activerecord.attributes.task.name')
      %th= t('activerecord.attributes.task.priority')
      %th= t('activerecord.attributes.task.description')
      %th= t('activerecord.attributes.task.status')
      %th= t('activerecord.attributes.task.deadline')
  %tbody
    - @tasks.each do |task|
      %tr
        %td= l(task.created_at, format: :long)
        %td= task.name
        %td= task.priority
        %td= task.description
        %td= task.aasm.human_state
        %td= task.deadline
        %td= link_to t('show'), task
        %td= link_to t('edit'), edit_task_path(task)
        %td= link_to t('destroy'), task, method: :delete, data: { confirm: t('tasks.delete_confirm') }

= link_to t('new'), new_task_path
