- content_for :navbar_items do
  %li.nav-item
    = link_to t('new'), new_task_path, class: 'nav-link'

  %li.nav-item.dropdown
    .nav-link.dropdown-toggle#navbar-dropdown-link-menu{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#' }
      詳細
    .dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'navbar-dropdown-link-menu' }
      %h5.dropdown-header= t('tasks.sort')
      .dropdown-item.form-group
        = form_tag tasks_path, method: :get do
          = label_tag :order_by, t('tasks.order')
          .form-group
            = select_tag :order_by, options_for_select([[t('tasks.registration_date'), 'create_at'], [t('tasks.deadline'), 'deadline'], [t('tasks.priority'), 'priority']], selected: 'create_at'), class: 'custom-select'
          .form-group
            = submit_tag t('tasks.sort'), class: 'btn btn-primary'

      .dropdown-divider

      %h5.dropdown-header= t('tasks.search')
      = search_form_for(@q, url: tasks_path) do |f|
        .dropdown-item
          .form-group
            = f.label :name_cont, t('activerecord.attributes.task.name')
          .form-group
            = f.search_field :name_cont, class: 'form-control'
          = f.collection_check_boxes :status_eq_any, @states, :name, :human_name, include_blank: t('tasks.sort_select_blank'), class: 'form-check' do |b|
            .form-group
              = b.check_box class: 'form-check-input'
              = b.label(class: 'form-check-label') { "#{b.text} \n\n" }
          .form-group
            = f.submit class: 'btn btn-primary'
.container
  %h1= t('tasks.index')

.container
  .row
    - @tasks.each do |task|
      .col-sm-6.col-lg-4
        .card.mt-3
          .card-body
            %h5.card-title= task.name
            %h7.card-subtitle.mb-2.text-muted #{task.priority} #{task.deadline} #{task.aasm.human_state}
            .card-text.mb-3= task.description
            = link_to t('show'), task_path(task), class: 'card-link'
            = link_to t('edit'), edit_task_path(task), class: 'card-link'
            = link_to t('destroy'), task, method: :delete, data: { confirm: t('tasks.delete_confirm') }, class: 'card-link'
.container.pagination.justify-content-center.mt-3
  = paginate @tasks
