%h1 Tasks
%table
  %thead
    %tr
      %th Name
      %th Description

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Task', new_task_path
