%p
  %strong= t('activerecord.attributes.task.name')
  = @task.name
%p
  %strong= t('activerecord.attributes.task.description')
  = @task.description
= link_to t('edit'), edit_task_path(@task)
= link_to t('back'), tasks_path
