%p
  %strong= t('activerecord.attributes.task.name')
  = @task.name
%p
  %strong= t('activerecord.attributes.task.description')
  = @task.description
%p
  %strong= t('activerecord.attributes.task.deadline')
  = @task.deadline
%p
  %strong= t('activerecord.attributes.task.priority')
  = @task.priority

%p
  %strong= t('activerecord.attributes.task.status')
  = @task.aasm.human_state
= link_to t('edit'), edit_task_path(@task)
= link_to t('back'), tasks_path
