.container
  %h1.mt-5.title= t('signup')
  - if user.errors.any?
    -# haml-lint:disable IdNames
    #error_explanation
      %h2
        = pluralize(user.errors.count, 'error')
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  = form_with(model: user, url: user_path, local: true) do |f|
    .form-group
      = f.label :name, class: 'label'
      = f.text_field :name, class: 'form-control', placeholder: t('users.placeholder.name')
    .form-group
      = f.label :email, class: 'label'
      = f.email_field :email, class: 'form-control', placeholder: t('users.placeholder.email')
    .form-group
      = f.label :avatar, class: 'label'
      = f.file_field :avatar, class: 'form-control'
    .form-group
      = f.label :password, class: 'label'
      = f.password_field :password, class: 'form-control', placeholder: t('users.placeholder.password')
    .form-group
      = f.label :password_confirmation, class: 'label'
      = f.password_field :password_confirmation, class: 'form-control', placeholder: t('users.placeholder.password_confirmation')
    .form-group
      = f.submit t('signup'), class: 'btn btn-primary btn-block', id: 'submit-btn'
