.container
  %h1.mt-5.title= t('signup')
  - if user.errors.any?
    -# haml-lint:disable IdNames
    #error_explanation
      %h2
        = pluralize(user.errors.count, 'error')
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  = form_with(model: user, url: user_path, local: true) do |f|
    .form-group.row
      .col-sm-3= f.label :name, class: 'label'
      .col-sm-9= f.text_field :name, class: 'form-control', placeholder: t('users.placeholder.name')
    .form-group.row
      .col-sm-3= f.label :email, class: 'label'
      .col-sm-9= f.email_field :email, class: 'form-control', placeholder: t('users.placeholder.email')
    .form-group.row
      .col-sm-3= f.label :avatar, class: 'label'
      .col-sm-9= f.file_field :avatar, class: 'form-control'
    .form-group.row
      .col-sm-3= f.label :password, class: 'label'
      .col-sm-9= f.password_field :password, class: 'form-control', placeholder: t('users.placeholder.password')
    .form-group.row
      .col-sm-3= f.label :password_confirmation, class: 'label'
      .col-sm-9= f.password_field :password_confirmation, class: 'form-control', placeholder: t('users.placeholder.password_confirmation')
    .form-group.row
      .col-sm-3
      .col-sm-9= f.submit t('signup'), class: 'btn btn-primary btn-block', id: 'submit-btn'
