- content_for :navbar_items do
  %li.nav-item
    .nav-link= link_to('新規ユーザー', new_admin_user_path, class: 'btn btn-primary')

.container
  .row
    %h1.mt-5.title ユーザ情報
  .row.mt-3
    .table-responsive
      %table.table
        %thead
          %tr
            %th.text-center{ scope: 'col' }= 'ユーザID'
            %th.text-center{ scope: 'col' }= t('activerecord.attributes.user.name')
            %th.text-center{ scope: 'col' }= 'ロール'
            %th.text-center{ scope: 'col' }= 'タスク件数'
            %th.text-center{ scope: 'col' }= ''
            %th.text-center{ scope: 'col' }= ''
            %th.text-center{ scope: 'col' }= ''
        %tbody
          - @usernames_and_task_counts.each do |k, v|
            %tr
              %th{ scope: '' }
                .text-center= k[0]
              %td
                .text-center= k[1]
              %td
                .text-center= user_role_name(k[2])
              %td
                .text-center= v
              %td
                .text-center
                  = link_to '詳細', admin_user_path(k[0])
                  = link_to '編集', edit_admin_user_path(k[0])
                  = link_to '削除', admin_user_path(k[0]), method: :delete, data: { confirm: '削除します' }, class: 'btn btn-primary'
.container.pagination.justify-content-center.mt-3
  = paginate @users
